<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body">
                    <span class="titulo">Listado de libros</span>
                        <button class="btn btn-outline-warning float-end" routerLink="/crear-producto">Add new book</button>
                        <br><br>
                        <table *ngIf="listProductos.length > 0" class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th class="title-table"></th>
                                    <th scope="col" class="title-table">Libro</th>
                                    <th scope="col"class="title-table">Autor</th>
                                    <th scope="col" class="title-table">Categoria</th>
                                    <th scope="col" class="title-table">Fecha de Publicación</th>
                                    <th scope="col" class="title-table">Precio</th>
                                    <th scope="col" class="title-table"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of listProductos">
                                    <td class="content-table"></td>
                                    <td class="content-table">{{ producto.titulo }}</td>
                                    <td class="content-table">{{ getNombreAutor(producto.autor_id) }}</td>
                                    <td class="content-table">{{ getNombreCategoria(producto.categoria_id) }}</td>
                                    <td class="content-table">{{ producto.fecha_publicacion }}</td>
                                    <td class="content-table">{{ producto.precio | currency:'s/. '}}</td>
                                    <td class="content-table">
                                        <i [routerLink]="['/editar-producto', producto.libro_id]" class="fas fa-edit text-primary"></i>
                                        <i (click)="eliminarProducto(producto.libro_id)" class="fas fa-trash text-danger"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 style="text-align: start; margin-top: 10px" *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>